.frontpic {
   display: flex;
   justify-content: center; /* 水平居中 */
   align-items: center;     /* 垂直居中 */
   width: 100%;
   height: auto;
} 
@media screen and (min-width:1000px){
  .frontpic{
    width: 50%;
    height: 30%;
  }
}
footer {
  text-align: center;
}
small {
  color: grey;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

